body {
    background-color: grey;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

.box {
    width: 700px;
    height: 100px;
    margin: 20px;
    margin: 0;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8t5Qv9hoArKjwgA25zZgoNoKuhbVU2zc6-A&s);
    background-color: red;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}

.opaco {
    height: 100%;
    width: 100%;
    background-color: #000a;
}
